font.Qtitre { font-family : Verdana;font-size : 9pt;color : white;font-weight : bold;text-align: center;}
font.Qquestion { font-family : Verdana;font-size : 8pt;color : #0040bb;font-weight : bold;}
font.Qchoix { font-family : Verdana;font-size : 7pt;color : #0040bb;font-weight : normal;}
font.Qcommentaire { font-family : Verdana;font-size : 8pt;color : #ffffff;font-weight : normal;}
font.Qnum { font-family : Verdana;font-size : 9pt;color : #aa0000;font-weight : bold;}
font.Qechelle { font-family : Verdana;font-size : 7pt;color : #003300;font-weight : bold;}
font.Qcartouche {font-family : Verdana;font-size : 7pt;color : #336600;font-weight : normal;}
font.Vlegende {font-family : Verdana;font-size : 8pt;color : black;font-weight : normal;}
body { font-family: Verdana; }
li { font-family: Verdana; }


          /* style pour hyper liens */
A:link {font-style: italic; text-decoration: none; color: rgb(000,000,255);}
A:visited {font-style: italic; text-decoration: none; color: rgb(000,50,255);}
A:active {color: rgb(100,255,200);text-decoration: none; font-style: italic;}
A:hover   {text-decoration: none;  color: red;}

          /* style pour titre */
H1 {font-family: Verdana, sans-serif; font-size: 16pt; font-style: normal; font-variant: small-caps; text-align: center }
H3 { font-family: Verdana, sans-serif;font-size: 14; font-style: normal; font-variant: small-caps }
H4 {font-family: Verdana, sans-serif; font-size: 14; font-style: italic; text-align: left }
h5 {font-family: Verdana, sans-serif;margin-bottom:.0001pt;text-align:center;page-break-after:avoid;font-size.18.0pt;letter-spacing:2.7pt; margin-left:0cm; margin-right:0cm; margin-top:0cm}
h2 {font-family:Verdana, sans-serif; margin-bottom:.0001pt;text-align:center;page-break-after:avoid;font-size:16.0pt;font-weight:normal; margin-left:0cm; margin-right:0cm; margin-top:0cm}

         
         /* appelé zb par <P id=fr> ou <span id=fr> */
	#FR{ font-family: Times New Roman, Times; font-size: 12; font-weight: normal; font-style: normal; color: rgb(0,0,255) }
	#CH{ font-family: Times New Roman, Times; font-size: 12; font-weight: normal; font-style: normal; color: rgb(255,0,0) }
	#vect  { font-family: EU Arrow, Arial;vecteur; font-size: 14; color: rgb(0,0,255); font-style: italic }
	#symb { font-family: symbol; font-size: 14; color: rgb(0,0,255)}
	#help {  font-family: Times New Roman; font-size: 12; background-image: url('../Divers/Fond/Help.gif') }
	#tjau1{ background-color: rgb(255,255,0);}
	#tjau2{ background-color: rgb(000,255,255);}
	#tgri{ background-color: rgb(192,192,192);}

/*TH { font-size: 12; background-color: #0099FF;; line-height: 20px ; border: medium none rgb(128,128,128); font-weight: bold; font-style: italic; text-align: center; vertical-align: middle  }*/
/*TD  {  style="font-size: 12px; font-family: Verdana, sans-serif; color: #000000";}*/

.bordure {background-color: #0000FF;} 
 bordure {background-color: #0000FF;} /* tabeau fond des tableau*/
                                                /* 100% cellpacing= 0 cellpadding =1 */
         

                                                /*  tabeau intérieur 1/2 100% cellpacing= 1 cellpadding =5 */
.tbl1 {background-color: #0099FF;}                                                      /* titre case bleu foncé*/
.titre {margin: 5px; font-size: 14px; font-weight: bolder;
	font-family: Verdana, sans-serif; color: #FFFFFF;}                              /*dans case bleu foncé*/
         
          
.tbl2 {background-color: #D9ECFF;}                                                       /* cases bleu clair*/.

p.corps {margin: 5px; font-size: 12px; font-family: Verdana, sans-serif; color: #090999;}
 .corps {margin: 5px; font-size: 12px; font-family: Verdana, sans-serif; color: #090909;}
.menu {margin: 5px; font-size: 10px; 
	font-family: Verdana, sans-serif; color: #090909;}
li {margin: 5px; font-size: 12px; font-family: Verdana, sans-serif; color: #990909; }
	p {margin: 5px; font-size: 12px; font-family: Verdana, sans-serif; color: #090909;}
         /* appelé zb par <P class="titre1"> */
.titre1 {background-color: rgb(250,250,250);}
.titre2 {background-color: rgb(125,192,192);}
.bleu { font-weight: bold; color: rgb(0,0,255)}
.enbleu { font-family: Verdana, sans-serif; font-size: 10px; color: #0000FF; text-decoration: none;}
.ennoir { font-family: Verdana, sans-serif; font-size: 10px; color: #000000; text-decoration: none;}

.evid { font-weight: bold;  background-color: rgb(0,255,0); color: rgb(0,0,255)}
.sym { font-family: Symbol, Times; font-size: 14;}
.sev { font-family: SymbSEVTTi; font-size: 14;}
.gra {font-weight: bold}
.ind { vertical-align: sub  }
.exp { vertical-align: super }
td.caljour, td.cal {font-size: 10px; font-family: Verdana, sans-serif; color: #FF0000; width: 14%; text-align: center; }
.tbl2over {background-color: #D9ECFF;}


table #help{ font-size: 12; background-image: url('../Divers/Fond/Help.gif'); border: 2px ridge rgb(128,128,128)}

.fr{ font-family: Times New Roman, Times; font-size: 12; font-weight: normal; font-style: normal; color: rgb(0,0,255) }
.CH{ font-family: Times New Roman, Times; font-size: 12; font-weight: normal; font-style: normal; color: rgb(255,0,0) }
	



.band {background-image: ;}


INPUT.bouton {cursor: hand; color: #0F0F0F;background-color: #FFFFFF;font-size: 10px; font-family: Verdana, sans-serif;£
INPUT.texte {background-color: ; font-size: 10px; font-family: Verdana, sans-serif; color: #0F0F0F; border: 1px solid #0000FF }
span.art-tit1  {font-family:Verdana;color:#B90000;font-weight:bold}


