
body { font-family: Times New Roman; font-size: 12; background-image: url('Fond.gif')  }
A:link {font-style: normal; text-decoration: underline; color: rgb(000,000,255);}
A:visited {font-style: italic; text-decoration: normal; color: rgb(000,50,255);}
A:active {color: rgb(100,255,200); font-style: italic;}
A:hover   {text-decoration: underline; font-family: Times New Roman; color: #ff0000;}

H1{ font-family: Times New Roman; font-size: 16pt; font-style: normal; font-variant: small-caps; text-align: center }
H2 { font-family: Times New Roman;font-size: 14; font-style: normal; font-variant: normal; text-align: center }
H3{  font-family: Times New Roman;font-size: 14; font-style: normal; font-variant: small-caps }
H4{ font-family: Times New Roman; font-size: 14; font-style: italic; text-align: left }
   { font-family: Times New Roman; font-size: 12 }
	#FR{ font-family: Times New Roman, Times; font-size: 12; font-weight: normal; font-style: normal; color: rgb(0,0,255) }
	#CH{ font-family: Times New Roman, Times; font-size: 12; font-weight: normal; font-style: normal; color: rgb(255,0,0) }
	#vect  { font-family: EU Arrow, Arial;vecteur; font-size: 14; color: rgb(0,0,255); font-style: italic }
	#symb { font-family: symbol; font-size: 14; color: rgb(0,0,255)}
TH { font-size: 12; background-color: rgb(200,100,100); line-height: 20px ; border: medium none rgb(128,128,128); font-weight: bold; font-style: italic; text-align: center; vertical-align: middle  }
TD 	{  font-size: 12;}
	#help{  font-family: Times New Roman; font-size: 12; background-image: url('../../Divers/Fond/Help.gif') }
	#tjau1{ background-color: rgb(255,255,0);}
	#tjau2{ background-color: rgb(255,255,153);}
	#tgri{ background-color: rgb(192,192,192);}
.bleu { font-weight: bold; color: rgb(0,0,255)}
.evid { font-weight: bold;  background-color: rgb(0,255,0); color: rgb(0,0,255)}
.sym { font-family: Symbol, Times; font-size: 14;}
.sev { font-family: SymbSEVTTi; font-size: 14;}
.gra {font-weight: bold}
.ind { vertical-align: sub  }
.exp { vertical-align: super }
table #help{ font-size: 12; background-image: url('../../Divers/Fond/Help.gif'); border: 2px ridge rgb(128,128,128)}

.fr{ font-family: Times New Roman, Times; font-size: 12; font-weight: normal; font-style: normal; color: rgb(0,0,255) }
.CH{ font-family: Times New Roman, Times; font-size: 12; font-weight: normal; font-style: normal; color: rgb(255,0,0) }
	
